kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "fylr.fullname" . }}
  labels:
    {{- include "fylr.labels" . | nindent 4 }}
data:
  fylr.yml: |
    fylr+:
      name: {{ include "fylr.fullname" . }}
      externalURL: {{ .Values.fylr.externalURL }}
      {{- if .Values.fylr.license }}
      license: |
        {{ .Values.fylr.license | nindent 8 }}
      {{- end }}
      logger:
        format: {{ .Values.fylr.logger.format | default "" | quote }}
        level: {{ .Values.fylr.logger.level | default "info" | quote }}
        timeFormat: {{ .Values.fylr.logger.timeFormat | default "2006-01-02 15:04:05 -07:00" | quote }}
        noColor: {{ .Values.fylr.logger.noColor | default true }}
        addHostname: {{ .Values.fylr.logger.addHostname | default true }}
      debug:
        easDownloadSkipCheckRights: {{ .Values.fylr.debug.easDownloadSkipCheckRights | default false }}

      db:
        maxOpenConns: {{ .Values.fylr.db.maxOpenConns }}
        maxIdleConns: {{ .Values.fylr.db.maxIdleConns }}
        init:
          config:
            system:
              config:
                purge:
                  allow_purge: {{ .Values.fylr.allowPurge }}
                  purge_storage: {{ .Values.fylr.allowPurge }}
                location_defaults:
                  {{- include "fylr.config.init.location.defaults" . | nindent 18 }}
                email_server:
                  server_addr: {{ .Values.fylr.db.init.email_server.server_addr }}
                  helo_domain: {{ .Values.fylr.db.init.email_server.helo_domain }}
                  type: {{ .Values.fylr.db.init.email_server.type }}
                  insecure_skip_verify: {{ .Values.fylr.db.init.email_server.insecure_skip_verify }}
                  plain_auth:
                    password: {{ .Values.fylr.db.init.email_server.plain_auth.password }}
                    username: {{ .Values.fylr.db.init.email_server.plain_auth.username }}
                  cram_md5_auth:
                    password: {{ .Values.fylr.db.init.email_server.cram_md5_auth.password }}
                    username: {{ .Values.fylr.db.init.email_server.cram_md5_auth.username }}
                  login_auth:
                    password: {{ .Values.fylr.db.init.email_server.login_auth.password }}
                    username: {{ .Values.fylr.db.init.email_server.login_auth.username }}
                email:
                  from: {{ .Values.fylr.db.init.email.from }}
                {{- if .Values.fylr.db.init.config }}
                {{- if .Values.fylr.db.init.config.system }}
                {{- if .Values.fylr.db.init.config.system.config }}
                {{- toYaml .Values.fylr.db.init.config.system.config | nindent 16 }}
                {{- end }}
                {{- end }}
                {{- end }}

      plugin:
        paths:
          {{- toYaml .Values.fylr.plugin.paths | nindent 10 }}
        defaults:
          {{- toYaml .Values.fylr.plugin.defaults | nindent 10 }}
      allowpurge: {{ .Values.fylr.allowPurge }}
      elastic+:
        logger: {{ .Values.fylr.elastic.logger | default "" | quote }}
        parallel: {{ .Values.fylr.elastic.parallel | default 4 }}
        objectsPerJob: {{ .Values.fylr.elastic.objectsPerJob | default 100 }}
        fielddata: {{ .Values.fylr.elastic.fielddata | default false }}
        {{- if .Values.fylr.elastic.maxMem }}
        maxMem: {{ .Values.fylr.elastic.maxMem | quote }}
        {{- end }}
      execserver:
        parallel: {{ .Values.fylr.execserver.parallel | default 4 }}
        pluginJobTimeoutSec: {{ .Values.fylr.execserver.pluginJobTimeoutSec | default 2400 }}
        connectTimeoutSec: {{ .Values.fylr.execserver.connectTimeoutSec | default 120 }}
        callbackBackendInternalURL: "http://{{ include "fylr.service-backend-name" . }}.{{ .Release.Namespace }}.svc:{{ .Values.services.backend.port }}"
        callbackApiInternalURL: "http://{{ include "fylr.service-api-name" . }}.{{ .Release.Namespace }}.svc:{{ .Values.services.api.port }}"
        addresses:
          {{- if .Values.execserver.enabled }}
          - "http://{{ .Release.Name }}-execserver.{{ .Release.Namespace }}.svc:8070/?pretty=true"
          {{- else }}
          - "http://localhost:8070/?pretty=true"
          {{- end }}
          {{- if .Values.fylr.execserver.addresses }}
          {{- toYaml .Values.fylr.execserver.addresses | nindent 10 }}
          {{- end }}
      services+:
        webapp+:
          addr: :8080
          oauth2:
            clientID: "fylr-web-frontend"
            internalURL:  "http://{{ include "fylr.service-api-name" . }}.{{ .Release.Namespace }}.svc:{{ .Values.services.api.port }}"
          reverseProxy+:
            backend: "http://{{ include "fylr.service-backend-name" . }}.{{ .Release.Namespace }}.svc:{{ .Values.services.backend.port }}"
          {{- if .Values.fylr.services.webapp.basicAuth }}
          basicAuth:
            {{- toYaml .Values.fylr.services.webapp.basicAuth | nindent 12 }}
          {{- end }}
        api+:
          webDAVHotfolderPath: /fylr/webDAVHotfolder
          addr: :8081
          oauth2Server+:
            allowHttpRedirects: {{ .Values.fylr.services.api.oauth2Server.allowHttpRedirects | default false }}
            clients+:
              # add custom clients
              {{- if .Values.fylr.services.api.oauth2Server.clients }}
              {{- toYaml .Values.fylr.services.api.oauth2Server.clients | nindent 14 }}
              {{- end }}
        backend:
          addr: :8082
          inspect:
            backup:
              {{ if .Values.fylr.persistent.tmp.enabled -}}
              path: /fylr/backup-storage
              {{ else }}
              path: /tmp/fylrctrl
              {{- end }}
              fylrctl: fylrctl
              psql: psql
              sqlite3: sqlite3
        {{- if .Values.execserver.enabled }}
        execserver:
        {{- else }}
        execserver+:
          addr: :8070
          waitgroups+:
            {{- range $k, $v := .Values.fylr.execserver.waitGroups }}
            {{ $k }}:
              processes: {{ $v -}}
            {{ end }}
          {{- if .Values.fylr.services }}
          {{- if .Values.fylr.services.execserver }}
          {{- if .Values.fylr.services.execserver.tempDir }}
          tempDir: {{ .Values.fylr.services.execserver.tempDir }}
          {{- end }}
          {{- if .Values.fylr.services.execserver.env }}
          env+:
          {{- toYaml .Values.fylr.services.execserver.env | nindent 12 }}
          {{- end }}
          {{- end }}
          {{- end }}
        {{- end }}
      {{ if .Values.fylr.persistent.tmp.enabled -}}
      tempDir: /fylr/tmpdir
      {{- end }}
